{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- CSS Bootstrap -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
  <title>Project EVA2 Backend</title>
  <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>

<body>

  <nav class="navbar navbar-dark navbar-expand-lg " style="background-color: #084298;">
    <div class="container">
      <a class="navbar-brand" href="{% url 'home' %}">Ecoomerce Name</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link fw-semibold" href="{% url 'home' %}">Productos</a>
          </li>
          <li class="nav-item">
            <a class="nav-link fw-semibold" href="{% url 'listProducts' %}">Listado</a>
          </li>
          <li class="nav-item">
            <a class="nav-link fw-semibold" href="{% url 'client' %}">Clientes</a>
          </li>
          
        </ul>
      </div>
    </div>
  </nav>

  <main>
    {% block content %}
    {% endblock %}
  </main>

  <footer class="text-center mt-4">
    <p class="my-0 py-3">© all right reserved</p>
  </footer>

  <!-- JavaScript Bundle -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" crossorigin="anonymous"></script>
</body>

</html>