{% extends 'base.html' %}
{% load static %}

{% block content %}
  <div class="container pt-4 pt-lg-5">
    <h1 class="text-center mb-5">Clients view</h1>
    {% if clients %}
    
    <div class="accordion shadow-sm mx-auto" id="accordionExample">
      {% for client in clients %}
      <div class="accordion-item">
        <h2 class="accordion-header" id="headingOne">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"data-bs-target="#collapse-{{ client.id }}" aria-controls="collapse-{{ client.id }}">
            {{ client.first_name }} {{ client.last_name }}
          </button>
        </h2>
        <div id="collapse-{{ client.id }}" class="accordion-collapse collapse" aria-labelledby="headingOne"
          data-bs-parent="#accordionExample">
          <div class="accordion-body">
            <strong>Dirección: </strong>
            <p class="mb-2">{{ client.direction }}</p>
            <strong>Email contacto: </strong>
            <p class="mb-2">{{ client.email }}</p>
            <strong>Edad: </strong>
            <p class="mb-0">{{ client.age }}</p>
            
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
    
    {% else %}
      <p>No se cargo info correctamente</p>
    {% endif %}
  </div>


{% endblock %}
