{% extends 'base.html' %}
{% load static %}

{% block content %}
  <div class="container pt-4 pt-lg-5">
    <h1 class="text-center mb-5">Home Category Products</h1>

    {% if products %}
    <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4">
      {% for product in products %}
        <div class="col ">
          <div class="card h-100">
            <img src="{{ product.image.url }}" class="card-img-top" alt="{{ product.p_name }}">
            <div class="card-body bs-indigo-100">
              <h5 class="card-title">{{ product.p_name }}</h5>
              <div class="d-flex align-items-center mb-3">
                <p class="text-success fw-bolder my-0">${{ product.price }}</p>
                <span class=" ms-3 badge rounded-pill text-bg-secondary"> Stock {{ product.stock }}</span>
              </div>
              <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#modal-prod-{{ product.id }}">
                Ver descripción
              </button>
            </div>
          </div>
        </div>
      {% endfor %}
    </div>

    {% for modal in products %}
      <div class="modal fade" id="modal-prod-{{ modal.id }}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
          <div class="modal-content">
            <div class="modal-header">
              <h1 class="modal-title fs-5" id="exampleModalLabel">Descripción del Producto</h1>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body py-4">
              {{ modal.description }}
            </div>
          </div>
        </div>
      </div>
    {% endfor %}
    {% else %}
      <p>No se cargo info correctamente</p>
    {% endif %}

  </div>
{% endblock %}