{% extends 'base.html' %}
{% load static %}

{% block content %}
  <div class="container pt-4 pt-lg-5">
    <h1 class="text-center mb-5">Table List Products</h1>
  
    {% if products %}
    <p>Aquí puedes nuestra lista con todos los productos d ela tienda</p>
    <table class="table table-striped table-hover">
      <thead>
        <tr>
          <th>#</th>
          <th>Nombre Producto</th>
          <th>Precio</th>
          <th>Stock</th>
          <th>Detalle</th>
        </tr>
      </thead>
      <tbody>
        {% for product in products %}
        <tr>
          <th>{{ product.id }}</th>
          <th>{{ product.p_name }}</th>
          <th>{{ product.price }}</th>
          <th>{{ product.stock }}</th>
          <th><button class="btn-detail" data-bs-toggle="modal" data-bs-target="#modal-detail-{{ product.id }}">ver</button></th>
        </tr>
        {% endfor %}
      </tbody>
    </table>
      
    {% for modal in products %}
    <div class="modal fade" id="modal-detail-{{ modal.id }}" tabindex="-1" aria-labelledby="exampleModalLabel"
      aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title fs-5" id="exampleModalLabel">Detalles</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body py-4">
            <img src="{{ modal.image.url }}" alt="{{ modal.p_name }}" class="mb-3">
            {{ modal.description }}
          </div>
        </div>
      </div>
    </div>
    {% endfor %}
    {% else %}
      <p>No se cargo info correctamente</p>
    {% endif %}
  </div>

{% endblock %}