h1,
h2,
h3 {
  color: #031633 !important;
}

.card {
  border: 2px solid #6610f2;
}
.card img {
  height: 250px !important;
}

tbody tr th:not(:last-of-type) {
  vertical-align: middle;
}

tbody .btn-detail {
  background: #6610f2;
  border: none;
  padding-bottom: 2px;
  color: var(--bs-white);
  border-radius: 8px;
  min-width: 50px;
  text-align: center;
}

.modal-body img {
  width: 100%;
  height: 200px;
  object-fit: contain;
}

footer {
  background-color: #084298;
}
footer p {
  color: #f9f9f9;
  font-size: 1.25rem;
}

@media (min-width: 768px) {
  main {
    min-height: calc(100vh - 142px);
  }
  .accordion {
    width: 50%;
  }
}